body
{
    min-width: 400px;
   
}

#addURL
{
    margin-top: 1em;
}

#delURL
{
    margin-top: 1em;
    margin-left: 2em;
}

#listEl
{
    list-style-type:square;
    padding: 0; 
    margin: 0;
}

li a
{
    text-decoration: none;
    color: green;
}

li a:hover
{
    text-decoration: underline;
}